<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <title>Bendr.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %> </p>
<% elsif flash[:alert] %>
  <p class="alert"><%= flash[:alert] %> </p>
<% end %>

<div class="navbar">
	<div class="navbar-inner">
		<div class="contain">
			<div class="Three-Dee pull-right">
					Bendr<i class="icon-music music"></i>
      </div>
		</div>
	</div>
</div>
<%= yield %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

</body>
</html>
